<div class="card {{include.type}}">
	<p class="card__title">{{include.content.name}}</p>
	<p class="card__id">id: {{include.content.id}}</p>
	<p class="card__date">{{include.content.date | date_to_string}}</p>
</div>