<header class="header">
	<a class="header__link" href="/">Home</a>
	<a class="header__link" href="/about">About</a>
	<div class="header__logo">{% include_relative static/svg/redis.svg %}</div>
</header>