html {}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.content {
	padding-top: 300px;
	padding-bottom: 300px;
	width: 1440px;
	max-width: calc(100% - 60px);
	margin-left: auto;
	margin-right: auto;
}

.h1 {
	font-size: 80px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #d00a46;
	font-family: ProximaNova;
}