@font-face{
	font-family: 'ProximaNova';
	font-weight: normal;
	font-style: normal;
	src: 	url('./fonts/Proxima/ProximaNova-Regular.woff2') format('woff2'),
	 		url('./fonts/Proxima/ProximaNova-Regular.woff') format('woff');
}
