 html,body{height:100%;}
  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline:none;
    &::selection{
        background-color: #00b9f7;
        color: #ffffff;
    }
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    font-size:inherit;
    text-decoration:none;
    color:inherit;
}
button{
    background: none;
    outline:none;
    border:none;
    padding: 0;
    text-transform: inherit;
    cursor:pointer;
    border-radius:0;
    -webkit-appearance: none;
}
input,textarea{
    -webkit-appearance: none;
    outline:none;
    border:none;
    resize:none;
    background: none;
    font:inherit;
    resize:none;
}
img,svg{
    display: block;
    width: 100%;

}
section{
    position: relative;
    z-index:10;
}