.header {
	position: fixed;
	top: 30px;
	left: 0;
	width: 1440px;
	max-width: calc(100% - 60px);
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	&__logo {
		width: 30px;
		margin-left: 20px;
	}

	&__link {
		font-family: ProximaNova;
		font-size: 16px;
		margin-left: 10px;
	}
}