<!DOCTYPE html>
<html lang="en" class="{{page.htmlclass}}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="static/main.css">

	<style>
		.preloader {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: #f7f3fa;
			z-index: 10000;
		}
	</style>

</head>

<body>
	<div class="preloader"></div>
	<div class="content">
		{% include header.html  %}


		<main class='main'>{{ content }}</main>

		{% include footer.html %}
	</div>



	<script src='static/main.js'></script>
</body>

</html>