html, body {
  height: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none; }
  html::selection, body::selection, div::selection, span::selection, applet::selection, object::selection, iframe::selection,
  h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, blockquote::selection, pre::selection,
  a::selection, abbr::selection, acronym::selection, address::selection, big::selection, cite::selection, code::selection,
  del::selection, dfn::selection, em::selection, img::selection, ins::selection, kbd::selection, q::selection, s::selection, samp::selection,
  small::selection, strike::selection, strong::selection, sub::selection, sup::selection, tt::selection, var::selection,
  b::selection, u::selection, i::selection, center::selection,
  dl::selection, dt::selection, dd::selection, ol::selection, ul::selection, li::selection,
  fieldset::selection, form::selection, label::selection, legend::selection,
  table::selection, caption::selection, tbody::selection, tfoot::selection, thead::selection, tr::selection, th::selection, td::selection,
  article::selection, aside::selection, canvas::selection, details::selection, embed::selection,
  figure::selection, figcaption::selection, footer::selection, header::selection, hgroup::selection,
  menu::selection, nav::selection, output::selection, ruby::selection, section::selection, summary::selection,
  time::selection, mark::selection, audio::selection, video::selection {
    background-color: #00b9f7;
    color: #ffffff; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  font-size: inherit;
  text-decoration: none;
  color: inherit; }

button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  text-transform: inherit;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none; }

input, textarea {
  -webkit-appearance: none;
  outline: none;
  border: none;
  resize: none;
  background: none;
  font: inherit;
  resize: none; }

img, svg {
  display: block;
  width: 100%; }

section {
  position: relative;
  z-index: 10; }

@font-face {
  font-family: 'ProximaNova';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/Proxima/ProximaNova-Regular.woff2") format("woff2"), url("./fonts/Proxima/ProximaNova-Regular.woff") format("woff"); }

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.content {
  padding-top: 300px;
  padding-bottom: 300px;
  width: 1440px;
  max-width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto; }

.h1 {
  font-size: 80px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d00a46;
  font-family: ProximaNova; }

.header {
  position: fixed;
  top: 30px;
  left: 0;
  width: 1440px;
  max-width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }
  .header__logo {
    width: 30px;
    margin-left: 20px; }
  .header__link {
    font-family: ProximaNova;
    font-size: 16px;
    margin-left: 10px; }

.card {
  width: 300px;
  height: 500px;
  font-family: ProximaNova; }

.home__cards {
  margin-top: 50px;
  display: flex; }


/*# sourceMappingURL=main.css.map*/