---
title: Jekyll + webpack bundler
layout: base

---


<div class="home page">
	<h1 class='h1'>Jekyll static generator <br> with Webpack 4</h1>
	<div style="display:none;">{% include_relative static/svg/redis.svg %}</div>
	<img style="display:none;" src="static/img/redis.png" alt="">
	<div class="home__cards">

		{% for card in site.data.cards %}
		{% include card.html content=card mod='-desktop' %}
		{% endfor %}
	</div>
</div>